*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.history-container{
  display: flex;
  flex-direction:row;
  width: 100%;
}
.questions{
  display: flex;
  width: 40%;
  flex-direction: column;
  padding: 15px;
  
}
.previous{
  width: 60%;
  position: fixed;
  right: 0px;
  padding: 10px;  
}
.previousText{
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 80vh;
  border: 2px solid rgb(180, 178, 178);
  background-color: white;
  border-radius: 5px;
  padding: 10px;
}
.generate-result{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 30px;
  width: 100%;
}
.clearAll{
  display: flex;
  padding-bottom: 20px;
}
#all-in{
  background-color: rgb(57, 253, 70);
  border: none;
  color: white;
  padding: 5px;
  border-radius: 5px;
  margin-left: 20px;
  margin-right: 10px;
}
.clearAll a button{
  background-color: red;
  border: none;
  color: white;
  padding: 5px;
  border-radius: 5px;
}
.generate-result button{
  display: flex;
  font-size: 1.1rem;
  padding: 2px;
  margin: 2px;
}

.chose-variant {
  display: inline-flex;
}
.chose-variant > *{
  padding: 5px;
}
.chose-variant :nth-child(2){
  background-color: rgba(249, 69, 69, 0.488);
  border-radius: 5px;
}
.chose-variant :nth-child(3){
  background-color: rgba(69, 255, 112, 0.476);
  border-radius: 5px;
  margin: 0 10px;
}
.chose-variant :nth-child(4){
  background-color: rgba(69, 165, 249, 0.563);
  border-radius: 5px;
}
.skargyContainer div{
  display: inline;
}
.skargyContainer button{
  padding: 3px;
  font-size: 1em;
  width: 1.25em;
  height: 1.25em;
}
.skargyText{
  display: inline-block;
}
#previousTextStartAnamnezLabel,#prevTextAnamnez{
  padding-top: 10px;
}
#prevTextAnamnez{
  padding-top: 10px;
  padding-bottom: 10px;
}
#prevTEpicris{
  padding: 20px;
  font-size: 1rem;
}

.createDayLog{
  padding: 20px;
}

.showDayLog{
  padding: 30px;
}
.epicris-btns{
  margin-left: 20px;
}
.epicris-btns button{
  margin: 5px;
  font-size: 1rem;
}
.editor-container{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
}