*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.history-container{
  display: flex;
  flex-direction:row;
  width: 100%;
}
.questions{
  display: flex;
  width: 50%;
  flex-direction: column;
  padding: 15px;
  
}
.previous{
  width: 50%;
  
  position: fixed;
  right: 0px;
  padding: 10px;
  
}
.previousText{
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 80vh;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 5px;
  padding: 10px;
}
.generate-result{
  display: flex;
  justify-content: center;
}
.clearAll{
  display: flex;
}
#all-in{
  background-color: rgb(30, 255, 0);
  border: none;
  color: white;
  padding: 5px;
  border-radius: 5px;
  margin-left: 20px;
  margin-right: 10px;
}
.clearAll a button{
  background-color: red;
  border: none;
  color: white;
  padding: 5px;
  border-radius: 5px;
}
#copy-btn{
  position: absolute;
  bottom: 0;
}
.chose-variant {
  display: inline-flex;
}
.chose-variant > *{
  padding: 5px;
}
.chose-variant :nth-child(2){
  background-color: rgb(249, 69, 69);
}
.chose-variant :nth-child(3){
  background-color: rgb(69, 255, 112);
}
.chose-variant :nth-child(4){
  background-color: rgb(69, 165, 249);
}
.skargyContainer button{
  padding: 3px;
  font-size: 1em;
  width: 1.25em;
  height: 1.25em;
}
.skargyText{
  display: inline-block;
}

